[submodule "connector/instagram"]
	path = connector/instagram
	url = https://github.com/juacas/moodle-mod_msocialconnector_instagram
[submodule "connector/pinterest"]
	path = connector/pinterest
	url = https://github.com/juacas/moodle-mod_msocialconnector_pinterest
[submodule "view/timeglider"]
	path = view/timeglider
	url = https://github.com/juacas/moodle-mod_msocialview_timeglider.git
[submodule "connector/facebook"]
	path = connector/facebook
	url = https://github.com/juacas/moodle-mod_msocialconnector_facebook
[submodule "connector/twitter"]
	path = connector/twitter
	url = https://github.com/juacas/moodle-mod_msocialconnector_twitter
